.DS_Store
RAA/.DS_Store
Strangeness/.DS_Store
RAA/Part1/.DS_Store
RAA/Part2/.DS_Store
Strangeness/Part1/.DS_Store
Strangeness/Part2/.DS_Store
Data-Masterclass/events/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*so.dSYM

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Produced by root
*.d
*.pcm
*.so
*.root
*dict*

autosave*
data/*
*.pcm
*.d
*.so

# Editor stuff
.vscode
