[Desktop Entry]
Name=Master Class
Comment=MasterClass Application Launcher for Linux
Exec=MMMMMM/MasterClassStart.sh
Icon=MMMMMM/images/alicelogo.png
Terminal=true
Type=Application
